<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        .row {
            display: flex;
            margin: 20%;
        }

        /* Create two equal columns that sits next to each other */
        .column {
            flex: 50%;
            margin: 2%;
            padding: 10px;
            height: 300px; /* Should be removed. Only for demonstration */
        }
    </style>
    <link rel="stylesheet" href="css/split.css">
</head>
<body>
<%- body %>

</body>
</html>