<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <!-- <link rel="stylesheet" href="css/video.css"> -->
  <!--this is the new part so uncomment the above line if doen't work--> 
  <link rel="stylesheet" href="css/video.css">
  <link rel="stylesheet" href="css/stylesh.css">
  <link rel="stylesheet" href="css/header.css">
</head>
<body>
  <%- body %>
</body>
</html>