<header>
    <a href="#" class="logo"><span>.</span></a>
    <ul class="navigation">
      <li><a href="#">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#Topics">Topics</a></li>
      <li><a href="#Contact">Contact</a></li>
      <li><a href="/signUp">Profile</a></li>
    </ul>
  </header>
  <section class="banner" id  = "banner">
    <div class="content">
      <h2>Always</h2>
      <p>The Moon is Earth's only proper natural satellite. It is the fifth largest satellite in the Solar System, larger than any dwarf planet and the largest natural satellite in the Solar System relative to the size of its planet, at a quarter the diameter of Earth, comparable to the width of Australia.[13] The Moon orbits Earth at an average lunar distance of 384,400 km (238,900 mi),[14] or 1.28 light-seconds. Its gravitational influence produces Earth's tides and slightly lengthens Earth's day. The Moon is a differentiated rocky body; has a surface gravity of 0.1654 g, about one-sixth of Earth's; and lacks a significant atmosphere, hydrosphere or magnetic field. A planetary-mass moon, it has among satellites with a known density the second highest surface gravity and density in the Solar System after Jupiter's moon Io.</p>
      <a href="#" class="btn">Our Menu</a>
    </div>
  </section>
  <section class="about" id="about">
    <div class="row">
      <div class="col50">
        <h2 class="titleText"> <span>A</span> About Us</h2>
        <p>The Moon is Earth's only proper natural satellite. It is the fifth largest satellite in the Solar System, larger than any dwarf planet and the largest natural satellite in the Solar System relative to the size of its planet, at a quarter the diameter of Earth, comparable to the width of Australia.[13] The Moon orbits Earth at an average lunar distance of 384,400 km (238,900 mi),[14] or 1.28 light-seconds. <br> <br> Its gravitational influence produces Earth's tides and slightly lengthens Earth's day. The Moon is a differentiated rocky body; has a surface gravity of 0.1654 g, about one-sixth of Earth's; and lacks a significant atmosphere, hydrosphere or magnetic field. A planetary-mass moon, it has among satellites with a known density the second highest surface gravity and density in the Solar System after Jupiter's moon Io.</p>
      </div>
      <div class="col50">
        <div class="imgBx">
          <img src="image2/sports.jpg">
        </div>
      </div>
    </div>
  </section>
  <section class="Topics" id="Topics">
    <div class="title">
      <h2 class="titleText">To<span>pi</span>cs</h2>
      <p>gravitational influence produces Earth's tides and slightly lengthens Earth's day. The Moon is a differentiated rocky body; has a surface gravity of 0.1654 g, about one-sixth of Earth's; and lacks a significant atmosphere, hydrosphere or magnetic field. A planetary-mass moon, it has among satellites with a known density the second highest surface gravity and density in the Solar System after Jupiter's moon Io.</p>
    </div>
    <div class="content">
      <div class="box">
        <div class="imgBx">
          <img src="image2/sports.jpg" >
        </div>
        <div class="text">
          <h3>Computer Science</h3>
        </div>
      </div>
      <div class="box">
        <div class="imgBx">
          <img src="image2/sports.jpg" >
        </div>
        <div class="text">
          <h3>Mathematics</h3>
        </div>
      </div>
      <div class="box">
        <div class="imgBx">
          <img src="image2/sports.jpg" >
        </div>
        <div class="text">
          <h3>Sports</h3>
        </div>
      </div>
      </div>
    </div>
    <div class="title">
      <a href="/topics" class="btn">Explore More</a>
    </div>
  </section>
  <script type = "text/javascript">
    window.addEventListener('scroll', function(){
      const header = document.querySelector('header');
      header.classList.toggle("sticky", window.scrollY > 0);
    })
  </script>
