* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body {
    background:black;
}
.pages:link, .pages:visited {
    background-color: #ffffff;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.pages:hover, .pages:active {
    background-color: #daacac;
}